.barChart {
  width: 100%;
}

.barChart h2 {
  font-size: 28px;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 10px;
}

.barWrapper {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .barChart h2 {
    text-align: center;
    font-size: 22px;
  }

  .barWrapper {
    padding: 10px;
  }
}
