.pieChart h2 {
  font-size: 28px;
  color: #fff;
  font-style: italic;
  margin-bottom: 10px;
}
.pieWrapper {
  border-radius: 10px;
  padding: 5px 20px;
}

@media (max-width: 767px) {
  .pieChart h2 {
    text-align: center;
  }
}
