.container {
  background: var(--primary-bg-color);
  padding: 24px;
  min-height: 100vh;
  background-color: rgb(65, 61, 61);
}
.container h1 {
  color: #fff;
  margin-bottom: 10px;
}
.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 48px;
  background: #5f5e5e;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
}
.habitsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/*Mobile styles*/
@media (max-width: 767px) {
  .container h1 {
    text-align: center;
  }
  .cardsWrapper {
    padding: 16px;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .habitsWrapper {
    grid-template-columns: 1fr;
  }
}
